@font-face {
    font-family: 'Hellix';
    src: url('../../assests/fonts/Hellix/Hellix-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Hellix Bold';
    src: url('../../assests/fonts/Hellix/Hellix-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Hellix Italic';
    src: url('../../assests/fonts/Hellix/Hellix-RegularItalic.ttf') format('truetype');
  }
  